<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form action="/sendMessage" method="post">
      <div class="form-group">
        <label for="">Enter Number</label>
        <input
          type="text"
          id="number"
          name="number"
          placeholder="enter your number here"
        />
      </div>
      <div class="form-group">
        <label for="">Enter Message</label>
        <input
          type="text"
          id="message"
          name="message"
          placeholder="enter your message here"
        />
      </div>
      <input type="submit" value="send message" />
    </form>
  </body>
</html>
