<!DOCTYPE html>
<html lang="en">

<head>
    {{>links}}
</head>

<body>
    {{>header}}

    <section class="signup">
        <div class="container">
            <figure><img src="images/success.png" class="scs" alt="sing up image"></figure>
            <a href="/" class="signup-image-link">You Have Complete Your Registration</a>
        </div>
    </section>
    {{>footer}}
</body>

</html>

{{!-- <div class="signup-content">

    <div class="signup-image">
        <figure><img src="images/signup-image.jpg" alt="sing up image"></figure>
        <a href="/login" class="signup-image-link">I am already member</a>
    </div>
</div> --}}