body {
  background-color: #22252a;
  border-radius: 10px;
  font-family: "Raleway", sans-serif;
  outline: none;
}
h2 {
  text-align: center;
  margin: 20px 0;
}
.textLeft {
  text-align: left;
}
.loadingDiv {
  height: 100vh;
  display: grid;
  place-items: center;
}

.btn-primary {
  background: transparent !important;
  color: #fff !important;
  border: 1px solid #fff !important;
  transition: all 0.5s ease !important;
}

.btn-primary:hover {
  background: #fff !important;
  transition: all 0.5s ease !important;
  color: #000 !important;
  border: none;
  font-weight: bolder !important;
}
.card {
  width: 400px;
  border: none;
  border-radius: 10px;
  background-color: #4b555e;
  margin: auto;
}
.image {
  min-width: 155px;
  margin-right: 5px;
}
.stats {
  color: #f2f5f8 !important;
  background: #656d77 !important;
}
.articles {
  font-size: 10px;
  color: #f4f6f7;
}
.number1 {
  font-weight: 500;
}
.followers {
  font-size: 10px;
  color: #f4f6f7;
}
.number2 {
  font-weight: 500;
}
.rating {
  font-size: 10px;
  color: #f4f6f7;
}
.number3 {
  font-weight: 500;
}
