<div class="container-fluid mt-5 about-style" id="about">
    <div class="row">
        <div class="col-md-10 col-12 mx-auto">
            <h1 class="text-center main-heading">About Us</h1>
            <p class="text-center sub-heading">Grow Your Bussiness</p>
            <div class="row">
                {{!-- left side --}}
                <div class="col-md-6 col-12 hero-text ">
                    <figure><img src="img/Robotics-amico.svg" alt="hero-section-image"></figure>
                </div>
                {{!-- left side --}}
                <div class="col-md-6 col-12 hero-text d-flex justify-content-center align-items-end flex-column">
                    <h1>We Are The </h1>
                    <h2>Professional Developer</h2>

                    <p>Welcome To,
                        <span class="bold-style"> Information Technology Virtual Matrix Hub</span>, we provides
                        better design for your online bussiness. we are dedicated to giving you the very best work
                        with a focus on three Characteristic Dependibility ,Customer Service and Uniqueness
                    </p>
                    <button class="btn-style button-primary">Read More</button>
                </div>
            </div>
        </div>
    </div>
</div>