<div class="container-fluid mt-5 contact-style" id="contact">
    <div class="row">
        <div class="col-md-10 col-12 mx-auto">
            <h1 class="text-center main-heading">Contact Us</h1>
            <p class="text-center sub-heading">We Will Be Happy To Help You</p>
            <div class="row">
                <div class="col-md-6 col-12 mx-auto">
                    <form action="/index" method="POST">
                        <div class="form-group">
                            <label for="Email Address">Name</label>
                            <input type="type" name="name" class="form-control" placeholder="name">
                        </div>
                        <div class="form-group">
                            <label for="Email Address">Email</label>
                            <input type="type" class="form-control" name="email" placeholder="email">
                            <small class="form-text text-muted" id="emailHelp">We'll Never Share Your Email With
                                Anyone Else</small>
                        </div>
                        <div class="form-group">
                            <label for="Email Address">Phone</label>
                            <input type="type" class="form-control" name="phone" placeholder="phone">
                        </div>
                        <div class="form-group">
                            <label for="Email Address">Message</label>
                            <input type="type" class="form-control" name="message" placeholder="message">
                        </div>
                        <button type="submit" class="btn-style btn-success">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>