<!DOCTYPE html>
<html lang="en">

<head>

    <title>404 ERROR PAGE</title>
    {{>links}}
</head>

<body>
    {{>header}}
    <div class="container-fluid" id="home">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">

                <div class="row">
                    {{!-- left side --}}
                    <div
                        class="col-md-6 col-12 hero-text order-md-0 order-1 d-flex justify-content-center align-items-start flex-column">
                        <h1>Sorry This Page Is</h1>
                        <h1>Not Available</h1>
                        <p>404
                            <span class="bold-style"> Error ⛔ Page⛔</span>
                        </p>
                        <button href="/" class="btn-style button-primary">Back</button>
                    </div>

                    {{!-- left side --}}
                    <div class="col-md-6 col-12 hero-text order-md-1 order-0">
                        <figure><img src="img/404.svg" alt="hero-section-image"></figure>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>