<div class="container-fluid" id="home">
    <div class="row">
        <div class="col-md-10 col-12 mx-auto">

            <div class="row">
                {{!-- left side --}}
                <div
                    class="col-md-6 col-12 hero-text order-md-0 order-1 d-flex justify-content-center align-items-start flex-column">
                    <h1>We Will Help You To</h1>
                    <h1>Grow Your Bussiness</h1>
                    <p>We Are Team Of
                        <span class="bold-style"> Professional Developer✌️</span>
                    </p>
                    <a href="#about" class="btn-style button-primary">Read More</a>
                </div>

                {{!-- left side --}}
                <div class="col-md-6 col-12 hero-text order-md-1 order-0">
                    <figure><img src="img/Growth curve-pana.svg" alt="hero-section-image"></figure>
                </div>
            </div>
        </div>
    </div>
</div>