<!DOCTYPE html>
<html lang="en">

<head>
    {{>links}}
</head>

<body>
    {{>header}}
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-10 mx-auto">
                <div class="row">
                    <div class="col-md-12 col-10 main_header_left align-items-center">
                        <figure class="errimg">
                            <img src="images/warning.svg" alt="about image" />
                        </figure>

                        <p>Welcome to ITVMH World</p>
                        <h1>
                            {{errorMsg}}<span class="text_clr"> {{errorMsgCol}}</span> {{errMsgrem}}
                        </h1>
                        <a href="/"><button>GO BACK</button></a>
                    </div>

                    <!-- right side -->
                </div>
            </div>
        </div>
    </div>

    {{>footer}}
</body>

</html>