body {
  background: rgb(89, 117, 150);
}
.demo,
div {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
/* .demo h1 {
  color: #fff;
  font-size: 3rem;
  display: inline-block;
} */
.demo .btn {
  background: rgb(13, 197, 83);
  padding: 10px 20px;
  color: #fff;
  font-size: 1rem;
  outline: none;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  text-align: center;
}
.h1style,
.countstyle,
input {
  width: 500px;
  border-radius: 50px;
  background-color: #fff;
  color: #2980b9;
  padding: 20px 30px;
  text-transform: capitalize;
  border: none;
  margin: 20px 20px;
  outline: none;
}

.countstyle {
  width: 50px;
  text-align: center;
}
input {
  width: 300px;
}
label {
  color: #fff;
  font-size: 1.5rem;
  text-transform: capitalize;
}
.btn_Remove {
  float: right;
  margin-top: 0px;
  color: #fff;
  background-color: tomato;
  border: none;
  padding: 8px 10px;
  border-radius: 20px;
  outline: none;
  cursor: pointer;
}
p {
  color: #fff;
  font-size: 1.2rem;
}
