<!DOCTYPE html>
<html lang="en">

<head>
    {{>links}}
</head>

<body>

    {{>header}}


    <h1>
        <section class="sign-in">
            <div class="container">
                <div class="signin-content">
                    <div class="signin-image">
                        <figure><img src="images/signin-image.jpg" alt="sing up image"></figure>
                        <a href="/registration" class="signup-image-link">Create An Account</a>
                    </div>
                </div>

            </div>

        </section>

    </h1>

    {{>footer}}
</body>

</html>