<!DOCTYPE html>
<html lang="en">

<head>
    {{>links}}
</head>

<body>
    {{>header}}
    {{>Home}}
    {{>about}}
    {{>services}}
    {{>location}}
    {{>contact}}
    {{>Footer}}
</body>

</html>